/* You can add global styles to this file, and also import other style files */
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.selection {
    background-color: white;
    width: 163px;
    margin-left: 1px;
    padding-left: 2px;
    border: 0.1px solid black;
    cursor: pointer;
}
.selection:hover {
    background-color: dimgrey;
    color: white;
    width: 163px;
    margin-left: 1px;
    padding-left: 2px;
}